<h1 id="tableLabel">Lista de Serviços</h1>

<p>Lista de servicos.</p>

<p *ngIf="!servicos"><em>Carregando...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="servicos">
  <thead>
    <tr>
      <th>Status</th>
      <th>Cliente</th>
      <th>Data Agendamento</th>
      <th>Obs</th>
      <th>Tipo</th>
      <th>Valor do Tipo</th>
      <th>Descricao do Tipo</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let servico of servicos">
      <td>{{ servico.nomeStatus }}</td>
      <td>{{ servico.cliente }}</td>
      <td>{{ servico.dataAgendamento }}</td>
      <td>{{ servico.observacao }}</td>
      <td>{{ servico.tipo.descricao }}</td>
      <td>{{ servico.tipo.valor }}</td>
      <td>{{ servico.tipo.descricao }}</td>
      <td><button (click)="executar(servico.id)">Executar</button> </td>
      <td><button (click)="finalizar(servico.id)">Finalizar</button> </td>
    </tr>
  </tbody>
</table>
